.notas_container{
    padding: 2em;

}

.tittle_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    align-items: center;
}
.tittle_container h1{
    color: #333;
}